* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.item-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkbox-item {
  margin: 2px;
}

.item-texto {
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
}

.btn-remover-item {
  all: unset;
  padding-top: 6px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: palevioletred;
  font-size: 15px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  border: black 2px solid;
  border-radius: 5px;
  margin: 100px;
  padding: 10px;
}

.textTopBar {
  color: black;
  background-color: #f2c1cd;
  width: 300px;
  height: 36px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid #df435e;
  outline: none;
}

.submitTopBar {
  color: white;
  background-color: #df435e;
  height: 36px;
  width: 70px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-style: none;
  cursor: pointer;
}

.btn-marcar-todos {
  color: white;
  font-size: 16px;
  background-color: #df435e;
  height: 36px;
  width: 370px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}
